header {
  //logo entreprise
  #logo {
    width: 80px;
    height: 80px;
    margin-left: 2%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    img {
      width: 80px;
      height: 80px;
    }
  }

  // navigation mobile
  #mobile-nav {
    background: $color-2;
    height: 100px;
    width: 100%;
    position: relative;

    .icon-container {
      width: 50px;
      height: 50px;
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      img {
        object-fit: cover;
        width: 50px;
        height: 50px;
      }
    }

    @media screen and (min-width: 1025px) {
      display: none;
    }
  }

  #mobile-ul.display {
    display: block;
    text-align: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 0;
    border-top: solid $black 3px;

    span {
      width: 50px;
      border-top: solid 3px $black;
      margin: auto;
    }

    @media screen and (min-width: 1025px) {
      display: none;
    }
  }

  #mobile-ul {
    background: linear-gradient($color-2, $color-4);
    display: none;

    li {
      a {
        text-decoration: none;
        color: $black;
      }
    }

    @media screen and (min-width: 1025px) {
      display: none;
    }
  }

  //navigation desktop
  #desktop-nav {
    background: linear-gradient($color-2, $color-4);
    width: 100%;
    height: 100px;
    position: relative;
    max-width: 1600px;
    margin: auto;

    @media screen and (max-width: 1024px) {
      display: none;
    }

    @media screen and (min-width: 1600px) {
      border-radius: 10px;
    }
    ul {
      margin-left: 160px;
      display: flex;
      height: 100px;
      line-height: 100px;
      text-align: center;

      span {
        border-left: 2px solid #000;
        display: inline-block;
        height: 50px;
        margin: 50px 0;
        transform: translateY(-50%);
      }

      li {
        list-style-type: none;
        margin: auto 25px;

        a {
          text-decoration: none;
          color: $black;
        }
      }
    }
    #basket {
      display: flex;
      position: absolute;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);

      #basket-logo {
        width: 20px;
        height: 20px;
        margin-right: 15px;

        img {
          object-fit: contain;
        }
      }
    }
  }
}
